@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?exsb60');
  src:  url('../fonts/icomoon/icomoon.eot?exsb60#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?exsb60') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?exsb60') format('woff'),
    url('../fonts/icomoon/icomoon.svg?exsb60#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-oval:before {
  content: "\e913";
  color: #f07566;
}
.icon-arrow:before {
  content: "\e900";
}
.icon-bulb:before {
  content: "\e901";
}
.icon-chart:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-darts:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-file:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-play:before {
  content: "\e908";
}
.icon-profile:before {
  content: "\e909";
}
.icon-quote:before {
  content: "\e90a";
}
.icon-review:before {
  content: "\e90b";
}
.icon-rise:before {
  content: "\e90c";
}
.icon-rocket:before {
  content: "\e90d";
}
.icon-skull:before {
  content: "\e90e";
}
.icon-speaker:before {
  content: "\e90f";
}
.icon-star:before {
  content: "\e910";
}
.icon-suitcase:before {
  content: "\e911";
}
.icon-twitter:before {
  content: "\e912";
}
