/*------------- Обнуление -------------*/
*{margin: 0;padding: 0;box-sizing: border-box;}
button:-moz-focus-inner{padding: 0;border: 0;}
li{list-style: none;}
a{text-decoration: none;}
/*------------- Переменные -------------*/
:root {
	--black: #333333;
	--red: #F07566;
	--green: #4DB282;
	--yellow: #FBD34B;
	--grey: rgba(51, 51, 51, 0.496405);
	--grey-light: rgba(255, 255, 255, 0.502972);
	--blue: #E6EDF5;
}
/*-------------- Стили --------------*/
body {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	color: var(--black);
	font-size: 16px;
	line-height: 32px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Hind Siliguri', sans-serif;
	color: var(--black);
}
/*______________________________ Header __________________________________*/
.header {
	min-height: 64px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 16px;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	display: flex;
	align-items: center;
	column-gap: 32px;
	z-index: 1;
}

.logo {
	font-family: 'Hind Siliguri', sans-serif;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	text-transform: uppercase;
	color: var(--black);
	transition: all 0.3s ease-in-out;
}

@media (hover: hover) {
.logo:hover {
	color: var(--green);
	transform: scale(1.03);
}
}

.nav__list {
	display: flex;
	column-gap: 31px;
}

.nav__list > li {
	position: relative;
}

@media (hover: hover) {
.nav__list > li:hover .sub-nav__list {
	display: block;
}
}

.nav__list > li:focus .sub-nav__list {
	display: block;
}

.sub-nav__list {
	display: none;
	position: absolute;
	left: 0;
	top: 32px;
	min-width: 130px;
}

.nav__link,
.sub-nav__link {
	color: var(--black);
	padding: 8px 10px;
	transition: all 0.3s ease-in-out;
}

.nav__link:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 100%;
	background-color: var(--green);
	border-radius: 0 50px 50px 0;
	opacity: 0;
	transition: all 0.2s ease-in-out;
}

@media (hover: hover) {
.nav__list > li:hover .nav__link {
	color: var(--green);
}

.nav__list > li:hover .nav__link:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #4DB28230;
	border-radius: 50px 100px 50px 100px;
	opacity: 1;
}

.sub-nav__list > li:hover .sub-nav__link {
	color: var(--green);
}
}

.nav__list > li:focus .nav__link {
	color: var(--green);
}

.sub-nav__list > li:focus .sub-nav__link {
	color: var(--green);
}

.burger {
	display: none;
}

.btn {
	width: 138px;
	height: 48px;
	font-family: 'Hind Siliguri', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 26px;
	color: var(--red);
	text-transform: uppercase;
	border-radius: 6px;
	cursor: pointer;
	letter-spacing: 1px;
	z-index: 1;
}

.btn-outline {
	border: 1px solid #F0756624;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
}

@media (hover: hover) {
.btn-outline:hover {
	box-shadow: 0 0 10px #F0756635;
	border: none;
	transform: scale(1.03);
}
}

.btn-outline:focus {
	box-shadow: 0 0 10px #F0756635;
	border: none;
	transform: scale(1.03);
}

/*______________________________ Company __________________________________*/
main {
	position: relative;
}

#company {
	min-height: 831px;
	background: url(../img/bgs/01.jpg) 120% 0/auto 100% no-repeat;
}

.company__wrapper {
	min-height: 831px;
	padding-top: 33px;
	display: flex;
	gap: 30px;
	padding-bottom: 48px;
}

.company__text {
	min-height: 480px;
	flex-basis: 470px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.company__heading {
	min-height: 215px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	margin-bottom: 55px;
}

h2 {
	color: var(--red);
	text-transform: uppercase;
	font-size: 16px;
	line-height: 32px;
	letter-spacing: 1px;
}

h2:before {
	content: '';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	background-color: var(--red);
	display: inline-block;
	margin-right: 12px;
}

h1 {
	font-size: 72px;
	line-height: 80px;
	position: relative;
	min-width: 330px;
}

h1:after {
	content: '';
	position: absolute;
	left: -4px;
	top: 96%;
	width: calc(100% + 17px);
	height: 23px;
	background: url(../img/underline.svg) top left/contain no-repeat;
}

.green_word {
	color: var(--green);
}

.company__text p {
	margin-bottom: 35px;
	max-width: 395px;
}

.btn-red {
	background-color: var(--red);
	color: #fff;
	border: none;
	transition: all 0.3s ease-in-out;
}

@media (hover: hover) {
.btn-red:hover {
	box-shadow: 0 0 10px #33333345;
	transform: scale(1.03);
}
}

.btn-red:focus {
	box-shadow: 0 0 10px #33333345;
	transform: scale(1.03);
}

.company__img {
	flex-basis: 462px;
	width: 462px;
	height: 480px;
	border-radius: 100px 8px 8px 8px;
	margin-right: 38px;
	margin-left: 54px;
	background: url(../img/01.png) center top /contain no-repeat var(--yellow);
	position: relative;
}

.company__img:before {
	content: '';
	position: absolute;
	height: 184px;
	width: 38px;
	background: var(--red);
	border-radius: 0 8px 8px 0;
	left: 100%;
	top: 33%;
}

.company__img:after {
	content: '';
	position: absolute;
	width: 162px;
	height: 90px;
	background: url(../img/graph.png) center/162px 90px no-repeat;
	padding: 16px 28px 22px 26px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0px 24px 48px rgba(86, 66, 0, 0.0799083);
	left: 84%;
	top: 84%;
	left: -10%;
	top: 90%;
}

.company__img__repeat:after {
	content: '\e90f';
	position: absolute;
	height: 37px;
	width: 48px;
	font-family: 'icomoon';
	font-size: 37px;
	color: #fff;
	padding: 32px 20px 31px 32px;
	border-radius: 50px 50px 8px 50px;
	background: var(--green);
	box-shadow: 0px 16px 24px rgba(77, 60, 0, 0.16109);
	left: -12%;
	top: 27%;
}
/*______________________________ About __________________________________*/
#about {
	min-height: 1527px;
	background: url(../img/bgs/02.jpg) bottom left/auto 45% no-repeat;
}

.about__wrapper_main {
	min-height: 840px;
	padding-top: 90px;
	display: flex;
	gap: 30px;
	padding-bottom: 56px;
}

.about__img {
	flex-basis: 520px;
	width: 520px;
	height: 448px;
	border-radius: 8px 100px 8px 8px;
	margin-left: 50px;
	margin-right: 46px;
	background: url(../img/02.jpg) center/cover no-repeat;
	position: relative;
}

.about__img:before {
	content: '';
	position: absolute;
	width: 482px;
	height: 326px;
	border-radius: 12px;
	background-color: var(--yellow);
	left: -3%;
	top: 31%;
	z-index: -2;
}

.about__img:after {
	content: '\e911';
	position: absolute;;
	font-family: 'icomoon';
	font-size: 37px;
	color: #fff;
	padding: 34px 31px 34px 32px;
	border-radius: 50px 50px 8px 50px;
	background: var(--green);
	box-shadow: 0px 16px 24px rgba(77, 60, 0, 0.16109);
	left: -10%;
	top: 14%;
}

.about__img__repeat:before {
	content: '';
	position: absolute;
	width: 132px;
	height: 160px;
	border-radius: 8px;
	background-color: var(--red);
	left: -6%;
	top: 71%;
	z-index: -1;
}

.about__img__repeat:after {
	content: '';
	position: absolute;
	width: 88px;
	height: 88px;
	background: url(../img/checked-circle.png) center/88px 88px no-repeat;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0px 24px 48px rgba(86, 66, 0, 0.0799083);
	left: 84%;
	top: 84%;
}

.about__text {
	min-height: 448px;
	flex-basis: 470px;
}

.heading {
	min-height: 180px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 26px;
}

h3 {
	font-size: 56px;
	line-height: 64px;
}

h4 {
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 34px;
}

.about__list {
	margin-bottom: 37px;
	margin-left: 30px;
}

.about__list li {
	position: relative;
}

.about__list li:before {
	content: '\e903';
	font-family: 'icomoon';
	color: var(--green);
	font-size: 22px;
	position: absolute;
	left: -30px;
}

.about__btn-red {
	width: 170px;
}

.about__wrapper_cards {
	min-height: 687px;
	padding-top: 19px;
	display: flex;
	gap: 30px;
}

.about__card {
	flex-basis: 270px;
	min-height: 368px;
	border: 1px solid var(--blue);
	border-radius: 8px;
	padding: 32px;
	background-color: #fff;
	transition: all 0.3s ease-in-out;
}

@media (hover: hover) {
.about__card:hover {
	border: none;
	box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
}
}

.about__card:focus {
	box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
}

.about__card svg {
	margin-bottom: 89px;
}

.about__card h4 {
	margin-bottom: 18px;
}

.about__card p {
	color: var(--grey);
	width: 206px;
}
/*______________________________ Features __________________________________*/
#features {
	min-height: 933px;
}

.features__wrapper {
	min-height: 933px;
	gap: 30px;
	padding-bottom: 48px;
}

.features__text {
	flex-basis: 470px;
	min-height: 480px;
	padding-top: 43px;
}

.features__heading {
	margin-bottom: 28px;
}

.features__text p {
	margin-bottom: 21px;
}

.features__card {
	padding: 25px 32px;
	background-color: #fff;
	border-radius: 8px;
	border: 1px solid var(--blue);
	transition: all 0.3s ease-in-out;
}

.features__card:focus {
	box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
	border: none;
}

@media (hover: hover) {
	.features__card:hover {
		box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
		border: none;
	}
}

.features__card h4 {
	margin-bottom: 6px;
}

.features__card h4:before {
	content: '\e910';
	font-family: 'icomoon';
	font-size: 23px;
	color: var(--green);
	margin-right: 16px;
}

.text_small {
	color: var(--grey);
	font-size: 14px;
	line-height: 24px;
}

.features__img {
	flex-basis: 462px;
	width: 462px;
	height: 480px;
	border-radius: 100px 8px 8px 8px;
	margin-left: 54px;
	margin-right: 30px;
	background: url(../img/03.jpg) 65% 0/cover no-repeat;
	position: relative;	
}

.features__img:before {
	content: '';
	position: absolute;
	width: 173px;
	height: 439px;
	background-color: var(--yellow);
	border-radius: 12px;
	left: 66%;
	top: 12%;
	z-index: -2;
}

.features__img:after {
	content: '';
	position: absolute;
	width: 174px;
	height: 87px;
	background: url(../img/graph-wave.png) center/174px 87px no-repeat;
	background-color: #fff;
	border-radius: 8px;
	padding: 22px 19px 19px 23px;
	left: 27%;
	top: 83%;
	box-shadow: 0px 24px 48px rgba(86, 66, 0, 0.0799083);
}

.features__img__repeat:before {
	content: '';
	position: absolute;
	width: 216px;
	height: 128px;
	background-color: var(--red);
	border-radius: 8px;
	left: 60%;
	top: -7%;
	z-index: -1;
}

.features__img__repeat:after {
	content: '\e906';
	position: absolute;
	font-family: 'icomoon';
	font-size: 48px;
	color: #fff;
	background-color: var(--green);
	padding: 32px 26px;
	border-radius: 50px 50px 8px 50px;
	left: -12%;
	top: 20%;
	box-shadow: 0px 16px 24px rgba(77, 60, 0, 0.16109);
}
/*______________________________ Portfolio __________________________________*/
#portfolio {
	min-height: 1790px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.portfolio__heading {
	min-height: 116px;
	min-width: 384px;
	align-items: center;
	margin-bottom: 28px;
}

#portfolio > p {
	color: var(--grey);
	max-width: 770px;
	text-align: center;
	margin-bottom: 61px;
}

.portfolio__wrapper-cards {
	min-height: 1003px;
	flex-wrap: wrap;
	gap: 30px;
	margin-bottom: 46px;
	justify-content: flex-start;
}

.portfolio__card {
	display: block;
	flex-basis: 570px;
	width: 570px;
	max-height: 498px;
	border-radius: 8px;
	transition: all 0.3s ease-in-out;
}

@media (hover: hover) {
.portfolio__card:hover {
	box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
}
}

.portfolio__card:focus {
	box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
}

.portfolio__img {
	height: 384px;
	border-radius: 8px;
	margin-bottom: 25px;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.portfolio__img_first {
	justify-content: flex-end;
}

.portfolio__img_first:after {
	content: '01';
	position: absolute;
	color: #fff;
	font-family: 'Hind Siliguri';
	font-weight: 700;
	font-size: 40px;
	padding: 28px 29px 20px 30px;
	border-radius: 0 24px 0 8px;
	background-color: var(--green);
	left: 0;
	bottom: 0;
}

.portfolio__img_second:after {
	content: '02';
	position: absolute;
	color: #fff;
	font-family: 'Hind Siliguri';
	font-weight: 700;
	font-size: 40px;
	padding: 28px 29px 20px 30px;
	border-radius: 0 24px 0 8px;
	background-color: var(--green);
	left: 0;
	bottom: 0;
}

.portfolio__img_third:after {
	content: '03';
	position: absolute;
	color: #fff;
	font-family: 'Hind Siliguri';
	font-weight: 700;
	font-size: 40px;
	padding: 28px 29px 20px 30px;
	border-radius: 0 24px 0 8px;
	background-color: var(--green);
	left: 0;
	bottom: 0;
}

.portfolio__img_fourth:after {
	content: '04';
	position: absolute;
	color: #fff;
	font-family: 'Hind Siliguri';
	font-weight: 700;
	font-size: 40px;
	padding: 28px 29px 20px 30px;
	border-radius: 0 24px 0 8px;
	background-color: var(--green);
	left: 0;
	bottom: 0;
}

.portfolio__card h4,
.portfolio__card p {
	display: flex;
	justify-content: center;
}

.portfolio__card h4 {
	margin-bottom: 2px;
}

.portfolio__card p {
	color: var(--grey);
	margin-bottom: 23px;
}

.portfolio-btn {
	margin-bottom: 143px;
}

.portfolio__wrapper-companies {
	max-height: 50px;
	width: 100%;
	margin-bottom: 207px;
}

.portfolio__wrapper-companies a {
	display: block;
}

.portfolio__wrapper-companies a:hover {
	animation: 0.5s ease-in-out shake;
} 

@keyframes shake {
	0% {transform: rotate(0deg);}
	10% {transform: rotate(-3deg);}
	35% {transform: rotate(10deg);}
	50% {transform: rotate(-5deg);}
	75% {transform: rotate(3deg);}
	100% {transform: rotate(0deg);}
}

/*______________________________ Service __________________________________*/
#service {
	min-height: 736px;
}

.service__wrapper {
	min-height: 736px;
	align-items: flex-start;
}

.service__text {
	max-width: 498px;
}

.service__heading {
	margin-bottom: 28px;
}

.service__heading h2 {
	margin-bottom: 20px;
}

.service__text > p {
	max-width: 470px;
	margin-bottom: 40px;
}

.service__numbers {
	display: flex;
	max-width: 392px;
	justify-content: space-between;
}

.service__numbers span {
	font-family: 'Hind Siliguri';
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	letter-spacing: -1px;
	}

.service__numbers p {
	color: var(--grey);
}

.service__numbers_one,
.service__numbers_two {
	position: relative;
	padding-left: 80px;
}

.service__numbers_one:before {
	content: '\e909';
	font-family: 'icomoon';
	font-size: 32px;
	padding: 12px;
	background-color: #FFFAEA;
	border-radius: 8px;
	position: absolute;
	left: 0;
	top: 0;
}

.service__numbers_two:before {
	content: '\e902';
	font-family: 'icomoon';
	font-size: 32px;
	padding: 12px;
	background-color: #EEF6FF;
	border-radius: 8px;
	position: absolute;
	left: 0;
	top: 0;
}

.service__img {
	flex-basis: 462px;
	width: 462px;
	height: 480px;
	border-radius: 100px 8px 8px 8px;
	margin-left: 38px;
	margin-right: 70px;
	background: url(../img/08.jpg) center 15%/cover no-repeat;
	position: relative;
}

.service__img:before {
	content: '';
	position: absolute;
	width: 55%;
	height: 66%;
	background-color: var(--yellow);
	border-radius: 12px;
	left: 48%;
	top: 37%;
	z-index: -2;
}

.service__img:after{
	content: '\e90d';
	position: absolute;
	font-family: 'icomoon';
	font-size: 48px;
	color: #fff;
	padding: 36px 28px 34px 24px;
	background-color: var(--green);
	border-radius: 50px 50px 8px 50px;
	left: -8%;
	top: 20%;
	box-shadow: 0px 16px 24px rgba(77, 60, 0, 0.16109);
}


.service__img-repeat:before {
	content: '';
	position: absolute;
	width: 47%;
	height: 27%;
	background-color: var(--red);
	border-radius: 8px;
	left: 19%;
	top: 80%;
	z-index: -1;
}

.service__img-repeat:after {
	content: '';
	position: absolute;
	width: 119px;
	height: 125px;
	background: url(../img/graph-hor.png) center/119px 125px no-repeat #fff;
	padding: 27px 13px 24px 16px;
	border-radius: 8px;
	left: 83%;
	top: 30%;
	box-shadow: 0px 24px 48px rgba(86, 66, 0, 0.0799083);
}
/*______________________________ Movie __________________________________*/
#video {
	min-height: 384px;
	background-color: var(--red);
	color: #fff;
}

.video__wrapper {
	min-height: 384px;
	position: relative;
}

.video__wrapper:after {
	content: '';
	position: absolute;
	left: 3%;
	top: -17%;
	background: url(../img/grey.png) center/371px 508px no-repeat;
	width: 371px;
	height: 508px;
}

.video__player {
	flex-basis: 600px;
	width: 600px;
	min-height: 384px;
	display: flex;
	align-items: center;
	z-index: 1;
	position: relative;
}

.video__player video {
	width: 520px;
	height: 289px;
}

/*.video__player button {
	position: absolute;
	width: 128px;
	height: 128px;
	left: 196px;
	top: 81px;
	background-color: var(--yellow);
	border-radius: 8px;
	border: none;
	cursor: pointer;
}

.video__player button:after {
	content: '\e908';
	left: 50%;
	top: 50%;
	font-family: 'icomoon';
	font-size: 38px;
	color: #fff;
}*/

.video__text {
	max-width: 570px;
	padding-right: 40px;
}

.video__text h3 {
	margin-bottom: 26px;
	color: #fff;
}

.video__text p {
	font-size: 20px;
	line-height: 32px;
}
/*______________________________ Team __________________________________*/
#team {
	min-height: 1171px;
}

.team__wrapper {
	height: 1171px;
	padding: 139px 0 227px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.team__heading {
	min-height: 106px;
	min-width: 407px;
	align-items: center;
	margin-bottom: 28px;
}

.team__wrapper > p {
	color: var(--grey);
	max-width: 770px;
	text-align: center;
	margin-bottom: 61px;
}

.team__carousel {
	min-height: 528px;
	width: 100%;
}

.team__carousel_card {
	height: 448px;
	width: 370px;
	border: 1px solid var(--blue);
	border-radius: 8px;
	padding: 16px;
	transition: all 0.3s ease-in-out;
}

@media (hover: hover) {
.team__carousel_card:hover {
	box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
}
}

.team__carousel_card:focus {
	box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
}

.carousel_image_one,
.carousel_image_two,
.carousel_image_three {
	height: 320px;
	width: 338px;
	border-radius: 8px 8px 50px 8px;
	margin-bottom: 25px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.carousel_image_one {
	align-items: flex-start;
	background: #E7F3ED;
}

.carousel_image_two {
	background: #F9E3E1;
}

.carousel_image_three {
	align-items: center;
	background: #FBF6E3;
}

.carousel_image_three img {
	height: 100%;
}

.team__carousel_card h4 {
	margin-bottom: 2px;
	padding-left: 16px;
}

.team__carousel_card p {
	color: var(--grey);
	padding-left: 16px;
}

.team__carousel .slick-slide {
  margin: 0 12px;
}

.team__carousel .slick-list {
  margin: 0 -12px;
}

.team__carousel .slick-dots {
	bottom: 0;
}

.team__carousel .slick-dots li button:before {
	font-size: 10px;
	color: #FFE4E1;
}

.team__carousel .slick-dots li.slick-active button:before {
	font-size: 20px;
	color: var(--red);
	opacity: 1;
}

.team__carousel.slick-dotted.slick-slider
{
    margin-bottom: 0;
}
/*______________________________ Testimonials __________________________________*/
#testimonials {
	min-height: 717px;
}

.testimonials__wrapper {
	min-height: 717px;
	align-items: flex-start;
}

.testimonials__image {
	height: 448px;
	flex-basis: 520px;
	width: 520px;
	margin: 0 30px 29px 50px;
	background: url(../img/09.jpg) center/cover no-repeat;
	border-radius: 8px 100px 8px 8px;
	position: relative;
}

.testimonials__image:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 73%;
	background-color: var(--yellow);
	border-radius: 12px;
	left: -3%;
	top: 31%;
	z-index: -2;
}

.testimonials__image:after {
	content: '\e90b';
	position: absolute;
	font-family: 'icomoon';
	font-size: 48px;
	color: #fff;
	background-color: var(--green);
	border-radius: 50px 50px 8px 50px;
	padding: 36px 28px 32px 24px;
	left: -10%;
	top: 14%;
	box-shadow: 0px 16px 24px rgba(77, 60, 0, 0.16109);
}

.testimonials__image_repeat:before {
	content: '';
	position: absolute;
	width: 25%;
	height: 36%;
	background-color: var(--red);
	border-radius: 8px;
	left: -6%;
	top: 71%;
	z-index: -1;
}

.testimonials__text {
	max-height: 100%;
	flex-basis: 460px;
	max-width: 460px;
}

.testimonials__heading {
	margin-bottom: 17px;
	padding-top: 4px;
	min-height: 116px;
}

.one-time {
	border-radius: 8px;
}

@media (hover: hover) {
.one-time:hover {
	box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
}
}

.one-time:focus {
	box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
}

.one-time:after {
	content: '\e90a';
	position: absolute;
	font-family: 'icomoon';
	font-size: 48px;
	color: var(--green);
	left: 82%;
	top: -8%;
}

.testimonials__card {
	min-height: 224px;
	width: 100%;
	padding: 27px 32px 25px 32px;
	border-radius: 8px;
	position: relative;
	border: 1px solid var(--blue);
}

.testimonials__card:focus {
	border: none;
}

@media (hover: hover) {
	.testimonials__card:hover {
		border: none;
	}
}

.testimonials__card p {
	color: var(--grey);
	max-width: 406px;
	margin-bottom: 14px;
}

.testimonials__card__name {
	font-family: Hind Siliguri;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 6px;
	display: block;
}

.one-time .slick-prev, 
.one-time .slick-next {
	top: 330px;
	width: 48px;
	height: 48px;
	background-color: var(--red);
	border-radius: 50px;
}

.one-time .slick-prev
{
    left: 0px;
}
[dir='rtl'] .one-time .slick-prev
{
    right: 0px;
    left: auto;
}
.one-time .slick-prev:before
{
    content: '\e900';
    font-family: 'icomoon';
    font-size: 20px;
    color: #fff;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
[dir='rtl'] .one-time .slick-prev:before
{
    content: '\e900';
    font-family: 'icomoon';
    font-size: 20px;
    color: #fff;
    display: block;
    transform: rotate(180deg);
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.one-time .slick-next
{
    right: 357px;
}
[dir='rtl'] .one-time .slick-next
{
    right: auto;
    left: 357px;
}
.one-time .slick-next:before
{
     content: '\e900';
    font-family: 'icomoon';
    font-size: 20px;
    color: #fff;
    display: block;
    transform: rotate(180deg);
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
[dir='rtl'] .one-time .slick-next:before
{
    content: '\e900';
    font-family: 'icomoon';
    font-size: 20px;
    color: #fff;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

@media (hover: hover) {
.one-time .slick-prev:hover:before,
[dir='rtl'] .one-time .slick-prev:hover:before,
.one-time .slick-next:hover:before,
[dir='rtl'] .one-time .slick-next:hover:before {
	opacity: .75;
}
}

.one-time .slick-prev:focus:before,
[dir='rtl'] .one-time .slick-prev:focus:before,
.one-time .slick-next:focus:before,
[dir='rtl'] .one-time .slick-next:focus:before {
	opacity: .75;
}


/*.one-time button {
	text-align: start;
}

.one-time .slick-prev {
}

.one-time .slick-next {
}*/

/*______________________________ Contact __________________________________*/
#contact {
	min-height: 789px;
	color: #fff;
}

.contact__wrapper {
	min-height: 448px;
	align-items: flex-start;
	background-color: var(--red);
	padding: 79px 100px 79px 100px;
	position: relative;
}

.contact__wrapper:after {
	content: '';
	position: absolute;
	width: 26%;
	height: 31%;
	background: url(../img/waves.png) center/contain no-repeat;
	left: 39%;
	top: 72%;
}

.contact__heading {
	min-height: 273px;
	flex-basis: 260px;
	width: 260px;
}

.contact__heading h3 {
	margin-bottom: 33px;
	color: #fff;
}

.contact__heading button {
	background-color: var(--yellow);
	color: var(--black);
	width: 170px;
	height: 48px;
	border: none;
	transition: all 0.3s ease-in-out;
}

@media (hover: hover) {
.contact__heading button:hover {
	box-shadow: 0 0 10px #FBD34B;
}
}

.contact__heading button:focus {
	box-shadow: 0 0 10px #FBD34B;
}

.contact__text {
	flex-basis: 470px;
	max-width: 470px;
	min-height: 133px;
	padding-top: 12px;
}

.contact__form {
	min-height: 341px;
	padding-bottom: 38px;
}

.contact__form form {
	display: flex;
}

h5 {
	font-size: 40px;
	line-height: 48px;
}

.contact__form__input {
	width: 286px;
	height: 48px;
	margin-right: 30px;
	border-radius: 6px;
	padding: 9px 16px 7px 16px;
	border: 1px solid #DADADA;
	outline: none;
	transition: all 0.3s ease-in-out;
}

.contact__form__input:focus {
	outline: 1px solid var(--green);
}

.contact__form__input::placeholder {
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	color: var(--grey);
}

.contact__form_button {
	width: 154px;
}
/*______________________________ Blog __________________________________*/
#blog {
	min-height: 1196px;
}

.blog__wrapper {
	min-height: 1196px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}


.blog__heading {
	min-height: 116px;
	margin-bottom: 28px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.blog__wrapper > p {
	max-width: 770px;
	color: var(--grey);
	margin-bottom: 45px;
	text-align: center;
}

.blog a {
	display: block;
}

.blog__big-card {
	min-height: 368px;
	width: 100%;
	display: flex;
	padding: 16px;
	border: 1px solid var(--blue);
	border-radius: 8px;
	margin-bottom: 32px;
	transition: all 0.3s ease-in-out;
}

@media (hover: hover) {
.blog__big-card:hover {
	border: none;
	box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
}
}

.blog__big-card:focus {
	border: none;
	box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
}

.big-card__img {
	flex-basis: 554px;
	width: 554px;
	height: 336px;
	border-radius: 8px 8px 50px 8px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.big-card__text {
	flex-basis: 494px;
	width: 494px;
	margin: 44px 24px 0 66px;
}

.big-card__text h5 {
	margin-bottom: 29px;
}

.text_big {
	font-size: 20px;
	line-height: 32px;
	color: var(--black);
}

.blog__small-cards {
	min-height: 384px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 64px;	
}

.blog__small-card {
	flex-basis: 370px;
	min-height: 100%;
	padding: 16px;
	border: 1px solid var(--blue);
	border-radius: 8px;
	transition: all 0.3s ease-in-out;
}

@media (hover: hover) {
.blog__small-card:hover {
	border: none;
	box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
}
}

.blog__small-card:focus {
	border: none;
	box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
}

.small-card__img {
	width: 338px;
	height: 240px;
	border-radius: 8px 8px 50px 8px;
	margin-bottom: 25px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.small-card__img img {
	height: 100%;
}

.blog__small-card h6 {
	font-size: 24px;
	line-height: 32px;
	padding-left: 16px;
}

.blog-btn {
	width: 170px;
}

.button-top {
	display: block;
	border-radius: 100px;
	width: 48px;
	height: 48px;
	position: sticky;
	bottom: 5%;
	left: 95%;
	cursor: pointer;
	margin-bottom: 31px;
}
.button-top:after {
	content: '\e900';
    font-family: 'icomoon';
    font-size: 15px;
    color: #fff;
    display: block;
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out;
    position: relative;
}

.button-top:hover:after {
	animation: 1s shift;
}

@keyframes shift {
	0% {bottom: -30%; opacity: 0;}
	25% {bottom: 0; opacity: 1;}
	75% {bottom: 15%; opacity: 1;}
	100% {bottom: 15%; opacity: 0;}
}

/*______________________________ Footer __________________________________*/
#footer {
	background-color: #3F3836;
	min-height: 528px;
}

.footer__wrapper {
	min-height: 528px;
	max-width: 1170px;
	margin: 0 auto;
	padding: 76px 0 53px 0;
}

.footer__menu {
	width: 100%;
	min-height: 400px;
	display: flex;
}

.footer__column {
	flex-basis: 25%;
	width: 25%;
	height: 100%;
}

.footer__column:nth-child(1n) {
	padding-right: 219px;
}

.footer__column:nth-child(2n) {
	padding-right: 233px;
}

.footer__column:nth-child(3n) {
	padding-right: 204px;
}

.footer__column:nth-child(4n) {
	padding-right: 110px;
}

.footer__column h2 {
	margin-top: 15px;
	margin-bottom: 32px;
}

.footer__column h2:before {
	content: none;
}

.footer__column a {
	display: block;
	color: #fff;
	transition: all 0.3s ease-in-out;
}

@media (hover: hover) {
.footer__wrapper a:hover {
	color: var(--green);
}
}

.footer__wrapper a:focus {
	color: var(--green);
}

.footer__icons {
	display: flex;
	column-gap: 8px;
}

.footer__icons a {
	transition: all 0.3s ease-in-out;
}

.icon-facebook,
.icon-twitter,
.icon-instagram {
	color: #fff;
	background-color: var(--red);
	padding: 16px;
	border-radius: 100px;
}

@media (hover: hover) {
.footer__icons a:hover {
	transform: scale(1.1);}
}

.footer__endline {
	width: 100%;
	min-height: 32px;
	display: flex;
	justify-content: space-between;
}

.footer__endline p {
	color: var(--grey-light);
}

.footer__endline_links {
	flex-basis: 276px;
	width: 276px;
	display: flex;
	column-gap: 67px;
}

.footer__endline a {
	color: #fff;
}

/*________________________________________________________________________*/

@media screen and (max-width: 375px) {
	.wrapper {
		max-width: 329px;
	}

	/*_______________Header______________*/

	.header {
		width: 375px;
	}

	.wrapper {
		max-width: 329px;
	}

	.logo {
		z-index: 1;
		transition: all 0.3s ease-in-out;
	}

	.nav {
		display: none;
	}

	.burger {
		height: 48px;
		width: 48px;
		padding: 15px 13px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		border: none;
		background: var(--red);
		border-radius: 50px;
		z-index: 1;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
	}

	.burger_layer,
	.burger:before,
	.burger:after {
		content: '';
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 2px;
		background-color: #fff;
		z-index: 1;
	}

	.header_button {
		display: none;
	}

	/*-----------Menu-open------------*/
	.header.menu-open {
		min-height: 443px;
		width: 375px;
		background-color: var(--red);
		z-index: 1;
	}

	.menu-open .wrapper {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		padding-top: 90px;
	}

	.menu-open .logo {
		color: #fff;
		position: absolute;
		left: 0;
		top: 0;
	}

	.menu-open .burger {
		position: absolute;
		top: 0;
		right: 0;
		justify-content: center;
	}

	.menu-open .burger_layer,
	.menu-open .burger:before,
	.menu-open .burger:after {
		position: absolute;
		width: 26px;
		transition: all 0.3s ease-in-out;
	}

	.menu-open .burger:before,
	.menu-open .burger:after {
		position: absolute;
	}

	.menu-open .burger:before {
		transform: rotate(45deg);
	}

	.menu-open .burger:after {
		transform: rotate(-45deg);
	}

	.menu-open .burger_layer {
		display: none;
	}

	.menu-open .menu {
		min-width: 329px;
		align-items: flex-start;
	}

	.menu-open .nav {
		display: block;
	}

	.menu-open .nav__list {
		flex-direction: column;
	}

	.menu-open .nav__link {
		color: #fff;
	}

	.nav__list > li:hover .sub-nav__list {
		display: none;
	}

	.nav__list > li:focus .sub-nav__list {
	display: block;
	}

	.nav__list > li:hover .nav__link:after {
		width: 0;
		height: 0;
	}

	/*-----------Active------------*/

	.dropdown-about.active + .sub-nav__list {
		display: block;
		margin-left: 80px;
		top: 0;
	}

	.dropdown-service.active + .sub-nav__list {
		display: block;
		margin-left: 80px;
		top: 0;
	}

	.nav__link.active + .sub-nav__list a {
		color: var(--green);
	}


	/*_______________Company______________*/

	#company {
		min-height: 1020px;
		background: url(../img/bgs/01.jpg) 150% 0/auto 47% no-repeat;
	}

	.company__wrapper {
		min-height: 1020px;
		padding-top: 107px;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap-reverse;
		gap: 52px;
		padding-bottom: 140px;
	}

	.company__img {
		flex-basis: 276px;
		width: 276px;
		height: 288px;
		margin: 0 22px 49px 33px;
		position: relative;
	}

	.company__img:before {
		height: 110px;
		width: 23px;
	}

	.company__img:after {
		width: 96px;
		height: 53px;
		background: url(../img/graph.png) center/96px 53px no-repeat;
		padding: 10px 17px 13px 16px;
		background-color: #fff;
	}

	.company__img__repeat:after {
		height: 23px;
		width: 28px;
		font-size: 23px;
		padding: 15px 12px 22px 19px;
	}

	.company__text {
		min-height: 399px;
		flex-basis: 329px;
		flex-direction: column;
		justify-content: flex-start;
		margin-bottom: 0px;
	}

	.company__heading {
		min-height: 180px;
		margin-bottom: 42px;
	}

	h1 {
		font-size: 56px;
		line-height: 64px;
		position: relative;
		min-width: 255px;
	}

	h1:after {
		width: calc(100% - 1px);
		height: 17px;
	}

	.company__text p {
		margin-bottom: 32px;
		max-width: 329px;
	}

	.btn-red {
		background-color: var(--red);
		color: #fff;
		border: none;
	}

	/*_______________About______________*/
	
	#about {
		min-height: 2272px;
		background: url(../img/bgs/02.jpg) 0 35%/auto 15% no-repeat;
		padding-bottom: 0;
	}

	.about__wrapper_main {
		max-width: 329px;
		min-height: 724px;
		padding-top: 0;
		padding-bottom: 0;
		gap: 0;
		margin-bottom: 128px;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	.about__img {
		flex-basis: 278px;
		width: 278px;
		height: 241px;
		margin: 0 23px 62px 29px;
		background: url(../img/02.jpg) center/cover no-repeat;
		position: relative;
	}

	.about__img:before {
		width: 257px;
		height: 175px;
	}

	.about__img:after {
		font-size: 26px;
		padding: 14px 16px 12px 16px;
	}

	.about__img__repeat:before {
		width: 71px;
		height: 85px;
	}

	.about__img__repeat:after {
		width: 47px;
		height: 47px;
		background: url(../img/checked-circle.png) center/47px 47px no-repeat;
		padding: 10px;
		background-color: #fff;
	}

	.about__text {
		min-height: 421px;
		flex-basis: 329px;
		width: 329px;
	}

	.heading {
		min-height: 145px;
		margin-bottom: 13px;
	}

	h3 {
		font-size: 40px;
		line-height: 48px;
	}

	h4 {
		margin-bottom: 18px;
	}

	.about__list {
		margin-left: 32px;
	}

	.about__list li:before {
		left: -32px;
	}

	.about__btn-red {
		width: 329px;
	}

	.about__wrapper_cards {
		min-height: 1723px;
		padding-top: 0;
		flex-direction: column;
		justify-content: flex-start;
		gap: 32px;
	}

	/*_______________Features______________*/
	
	#features {
		min-height: 1040px;
	}

	.features__wrapper {
		min-height: 1040px;
		padding-bottom: 155px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 0;
	}

	.features__text {
		flex-basis: 329px;
		min-height: 469px;
		padding-top: 0;
		margin-bottom: 78px;
	}

	.features__heading {
		margin-bottom: 15px;
	}

	.features__text p {
		margin-bottom: 13px;
	}

	.features__card {
		padding-bottom: 20px;
	}

	.features__img {
		flex-basis: 265px;
		width: 265px;
		height: 290px;
		margin: 0 17px 29px 47px;
	}

	.features__img:before {
		width: 99px;
		height: 240px;
	}

	.features__img:after {
		width: 100px;
		height: 52px;
		background: url(../img/graph-wave.png) center/100px 52px no-repeat;
		background-color: #fff;
		padding: 14px 12px 12px 12px;
	}

	.features__img__repeat:before {
		width: 125px;
		height: 77px;
	}

	.features__img__repeat:after {
		font-size: 30px;
		padding: 14px;
	}

	/*_______________Portfolio______________*/

	#portfolio {
		min-height: 2352px;
	}

	.portfolio__heading {
		min-height: 97px;
		min-width: 271px;
		margin-bottom: 15px;
	}

	#portfolio > p {
		max-width: 329px;
		margin-bottom: 45px;
	}

	.portfolio__wrapper-cards {
		min-height: 1419px;
		margin-bottom: 30px;
	}

	.portfolio__card {
		flex-basis: 329px;
		width: 329px;
		max-height: 315px;
	}

	.portfolio__img {
		height: 222px;
		margin-bottom: 27px;
	}

	.portfolio-btn {
		margin-bottom: 103px;
	}

	.portfolio__wrapper-companies {
		max-height: 240px;
		padding-bottom: 169px;
		flex-wrap: wrap;
	}

	.portfolio__wrapper-companies a {
		margin-bottom: 51px;
	}

	.portfolio__wrapper-companies a:nth-child(3n) {
		margin-left: 26px;
		margin-right: 56px;
	}

	.portfolio__wrapper-companies a:nth-child(4n) {
		margin-right: 20px;
	}

	.portfolio__wrapper-companies a:nth-child(5n) {
		margin-left: 38px;
		margin-right: 30px;
	}

	.portfolio__wrapper-companies a:nth-child(6n) {
		margin-right: 16px;
	}

	/*_______________Service______________*/

	#service {
		min-height: 1061px;
	}

	.service__wrapper {
		min-height: 1061px;
		margin-bottom: 0;
		padding-bottom: 202px;
		flex-wrap: wrap;
	}

	.service__text {
		max-width: 329px;
		min-height: 496px;
		margin-bottom: 69px;
	}

	.service__heading {
		margin-bottom: 15px;
	}

	.service__heading h2 {
		margin-bottom: 17px;
	}

	.service__text > p {
		max-width: 329px;
	}

	.service__numbers {
		max-width: 156px;
		align-self: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		gap: 29px;
	}

	.service__img {
		flex-basis: 266px;
		width: 266px;
		height: 275px;
		margin: 0 41px 18px 22px;
	}

	.service__img:after{
		font-size: 29px;
		padding: 14px 16px 12px 13px;
	}

	.service__img-repeat:after {
		width: 67px;
		height: 71px;
		background: url(../img/graph-hor.png) center/67px 71px no-repeat #fff;
		padding: 15px 9px 14px 10px;
		border-radius: 8px;
		left: 83%;
		top: 30%;
		box-shadow: 0px 24px 48px rgba(86, 66, 0, 0.0799083);
	}

	/*_______________Video______________*/

	#video {
		min-height: 768px;
		position: relative;
	}

	.video__wrapper {
		min-height: 768px;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding-bottom: 62px;
	}

	.video__wrapper:after {
		background: url(../img/grey.png) center /339px 464px no-repeat;
		width: 339px;
		height: 464px;
		left: 6%;
		top: -3%;
	}

	.video__player {
		flex-basis: 329px;
		width: 329px;
		min-height: 438px;
		justify-content: center;
		margin-bottom: 6px;
	}

	.video__player video {
		width: 375px;
		height: auto;
		position: absolute;
	}

	.video__text {
		max-width: 329px;
		min-height: 262px;
		padding-right: 0;
	}

	.video__text h3 {
		margin-bottom: 13px;
		padding-right: 122px;
	}

	/*_______________Team______________*/

	#team {
		min-height: 1148px;
	}

	.team__wrapper {
		height: 100%;
		padding-bottom: 0;
	}

	.team__heading {
		min-height: 97px;
		min-width: 287px;
		margin-bottom: 15px;
	}

	.team__wrapper > p {
		max-width: 329px;
		margin-bottom: 79px;
	}

	.team__carousel_card {
		width: 329px;
		padding: 16px 16px 21px 16px;
	}

	/*.team__carousel_card:hover {
		box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
	}*/

	.carousel_image_one,
	.carousel_image_two,
	.carousel_image_three {
		width: 297px;
	}

	.team__carousel .slick-slide {
	  margin: 0;
	}

	.team__carousel .slick-list {
	  margin: 0;
	}

	.team__carousel .slick-dots {
		bottom: 0;
	}

	.team__carousel.slick-dotted.slick-slider
	{
	    margin-bottom: 160px;
	}

	/*_______________Testimonials______________*/

	#testimonials {
		min-height: 1014px;
	}

	.testimonials__wrapper {
		max-width: 329px;
		min-height: 1014px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.testimonials__image {
		height: 258px;
		flex-basis: 299px;
		width: 299px;
		margin: 0 0 57px 29px;
	}

	.testimonials__image:after {
		font-size: 28px;
		padding: 13px 17px 13px 13px;
	}

	.testimonials__text {
		max-height: 405px;
		flex-basis: 329px;
		max-width: 329px;
	}

	.testimonials__heading {
		margin-bottom: 20px;
		padding-top: 0;
		min-height: 97px;
	}

	.testimonials__card {
		min-height: 288px;
		padding: 27px 46px 25px 32px;
	}

	.testimonials__card p {
		max-width: 251px;
	}

	.testimonials__card__name {
		margin-bottom: 0;
	}

	.one-time .slick-prev, 
	.one-time .slick-next {
		top: 360px;
	}

	.one-time .slick-prev
	{
	    left: 34%;
	}
	[dir='rtl'] .one-time .slick-prev
	{
	    right: 66%;
	}

	.one-time .slick-next
	{
	    right: 34%;
	}
	[dir='rtl'] .one-time .slick-next
	{
	    left: 66%;
	}

	/*__________________Contact_________________*/
	#contact {
		min-height: 1323px;
	}

	.contact__wrapper {
		min-height: 768px;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 59px;
		padding: 60px 57px 144px 56px;
	}

	.contact__wrapper:after {
		content: '';
		position: absolute;
		width: 215px;
		height: 108px;
		background: url(../img/waves.png) center/contain no-repeat;
		left: 57px;
		top: 675px;
	}

	.contact__heading {
		min-height: 212px;
		flex-basis: 184px;
		width: 184px;
	}

	.contact__heading h3 {
		font-size: 40px;
		line-height: 48px;
		margin-bottom: 20px;
	}

	.contact__text {
		flex-basis: 216px;
		max-width: 216px;
		min-height: 293px;
		padding-top: 0;
	}

	.contact__form {
		min-height: 555px;
		padding-bottom: 187px;
		padding-top: 124px;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	h5 {
		margin-bottom: 36px;
	}

	.contact__form form {
		flex-direction: column;
		max-width: 286px;
	}

	.contact__form__input {
		margin-bottom: 16px;
	}
	
	/*__________________Blog_________________*/
	#blog {
		min-height: 2181px;
	}

	.blog__wrapper {
		min-height: 2181px;
	}


	.blog__heading {
		min-height: 97px;
		margin-bottom: 15px;
	}

	.blog__heading > h3 {
		font-size: 38px;
	}

	.blog__heading > h3,
	.blog__wrapper > p {
		max-width: 329px;
	}

	.blog__big-card {
		min-height: 528px;
		width: 100%;
		flex-direction: column;
		padding: 16px 16px 47px 16px;
		margin-bottom: 16px;
		gap: 25px;

	}

	.big-card__img {
		flex-basis: 296px;
		width: 296px;
		height: 180px;
	}

	.big-card__text {
		flex-basis: 296px;
		width: 296px;
		margin: 0;
		min-height: 260px;
	}

	.big-card__text h5 {
		margin-bottom: 13px;
	}

	.blog__small-cards {
		min-height: 1088px;
		flex-direction: column;
		justify-content: flex-start;
		gap: 16px;	
	}

	.blog__small-card {
		flex-basis: 352px;
		min-height: 352px;
		padding: 16px 17px 39px 16px;
	}

	.small-card__img {
		width: 296px;
		height: 210px;
		margin-bottom: 23px;
	}

	.blog-btn {
		margin-bottom: 112px;
	}

	.button-top {
		display: none !important;
	}

	/*__________________Footer_________________*/

	#footer {
		min-height: 1184px;
	}

	.footer__wrapper {
		min-height: 1184px;
		max-width: 329px;
		padding: 76px 0 69px 0;
	}

	.footer__menu {
		width: 100%;
		min-height: 853px;
		flex-direction: column;
	}

	.footer__column {
		flex-basis: 48px;
		width: 329px;
		height: 48px;
	}

	.footer__column:nth-child(1n) {
		padding-right: 248px;
		margin-bottom: 63px;
	}

	.footer__column:nth-child(2n) {
		height: 224px;
		flex-basis: 224px;
		padding-right: 262px;
		margin-bottom: 64px;
	}

	.footer__column:nth-child(3n) {
		height: 192px;
		flex-basis: 192px;
		padding-right: 233px;
		margin-bottom: 64px;
	}

	.footer__column:nth-child(4n) {
		height: 117px;
		flex-basis: 117px;
		padding-right: 169px;
		margin-bottom: 80px;
	}

	.footer__column h2 {
		margin-top: 0;
	}

	.footer__column:nth-child(4n) h2 {
		margin-bottom: 53px;
	}

	.footer__endline {
		min-height: 187px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.footer__endline p {
		margin-top: 58px;
		margin-bottom: 32px;
		max-width: 206px;
		text-align: center;
	}

	.footer__endline_links {
		flex-basis: 32px;
	}

}